/.git
/node_modules
/vendor
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/.idea
/.vscode
/.env
/.env.*
/database/*.sqlite*
Dockerfile
docker-compose.yml
